Repository hbldh/bleak, pull requests merged in 2020-08, with the labels that each got.

#270 Fix get_services function of corebluetooth client
  bleak/backends/corebluetooth/client.py
Labels: Core Bluetooth, bug

#272 missing uuids and description fix
  bleak/backends/bluezdbus/characteristic.py
  bleak/backends/bluezdbus/descriptor.py
  bleak/backends/corebluetooth/characteristic.py
  bleak/backends/corebluetooth/descriptor.py
  bleak/backends/descriptor.py
  bleak/uuids.py
Labels: enhancement

#271 Implementation of `find_specific_device` feature
  CHANGELOG.rst
  bleak/__version__.py
  bleak/backends/bluezdbus/client.py
  bleak/backends/bluezdbus/scanner.py
  bleak/backends/bluezdbus/utils.py
  bleak/backends/client.py
  bleak/backends/corebluetooth/CentralManagerDelegate.py
  bleak/backends/corebluetooth/client.py
  bleak/backends/corebluetooth/discovery.py
  bleak/backends/corebluetooth/scanner.py
  bleak/backends/dotnet/client.py
  bleak/backends/dotnet/scanner.py
  bleak/backends/scanner.py
  bleak/utils.py
  docs/backends/macos.rst
  docs/scanning.rst
  examples/scanner.py
Labels: .NET, BlueZ, Core Bluetooth, enhancement, scanning

#273 RSSI feature, Notifiy by handle fix, event.wait() fix
  bleak/backends/corebluetooth/PeripheralDelegate.py
  bleak/backends/corebluetooth/client.py
Labels: Core Bluetooth, bug, enhancement
