Repository hbldh/bleak, pull requests merged in 2020-12, with the labels that each got.

#378 fix dotnet event callbacks
  CHANGELOG.rst
  bleak/backends/dotnet/discovery.py
  bleak/backends/dotnet/scanner.py
Labels: Backend: .NET

#380 Fixed ``BleakScanner.discover()`` on older versions of macOS.
  CHANGELOG.rst
  bleak/backends/corebluetooth/scanner.py
Labels: Backend: Core Bluetooth

#334 Standardizing arguments passed to callback functions
  AUTHORS.rst
  CHANGELOG.rst
  bleak/backends/bluezdbus/client.py
  bleak/backends/bluezdbus/discovery.py
  bleak/backends/bluezdbus/scanner.py
  bleak/backends/corebluetooth/scanner.py
  bleak/backends/dotnet/scanner.py
  bleak/backends/scanner.py
  docs/scanning.rst
  examples/detection_callback.py
Labels: Backend: .NET, Backend: BlueZ, Backend: Core Bluetooth, enhancement
