Repository hbldh/bleak, pull requests merged in 2020-09, with the labels that each got.

#275 Change uuid to handle in data sent to notification callbacks
  CHANGELOG.rst
  bleak/__version__.py
  bleak/backends/bluezdbus/client.py
  bleak/backends/client.py
  bleak/backends/corebluetooth/PeripheralDelegate.py
  bleak/backends/corebluetooth/client.py
  bleak/backends/dotnet/client.py
Labels: .NET, BlueZ, Core Bluetooth, Opinions Appreciated, enhancement

#269 First drafts of "Just Works" pairing for .NET and BlueZ backends
  CHANGELOG.rst
  bleak/backends/bluezdbus/client.py
  bleak/backends/client.py
  bleak/backends/corebluetooth/client.py
  bleak/backends/device.py
  bleak/backends/dotnet/client.py
  bleak/backends/dotnet/utils.py
  docs/backends/macos.rst
Labels: .NET, BlueZ, Core Bluetooth, Documentation, security

#280 Safer `Core Bluetooth` presence check
  bleak/__init__.py
Labels: Core Bluetooth, bug

#282 Handle 2-stage discovery on MacOS better
  bleak/backends/corebluetooth/CentralManagerDelegate.py
  bleak/backends/corebluetooth/device.py
Labels: Core Bluetooth, bug

#285 Connect by BLEDevice as well as string Bluetooth adress
  CHANGELOG.rst
  bleak/backends/bluezdbus/client.py
  bleak/backends/client.py
  bleak/backends/corebluetooth/client.py
  bleak/backends/dotnet/client.py
  examples/connect_by_bledevice.py
Labels: .NET, BlueZ, Core Bluetooth, enhancement, scanning

#279 Release/v0.8.0
  BleakUWPBridge/BleakUWPBridge/Bridge.cs
  BleakUWPBridge/BleakUWPBridge/Properties/AssemblyInfo.cs
  CHANGELOG.rst
  README.rst
  bleak/__init__.py
  bleak/__version__.py
  bleak/backends/bluezdbus/characteristic.py
  bleak/backends/bluezdbus/client.py
  bleak/backends/bluezdbus/descriptor.py
  bleak/backends/bluezdbus/discovery.py
  bleak/backends/bluezdbus/scanner.py
  bleak/backends/bluezdbus/signals.py
  bleak/backends/bluezdbus/utils.py
  bleak/backends/client.py
  bleak/backends/corebluetooth/CentralManagerDelegate.py
  bleak/backends/corebluetooth/PeripheralDelegate.py
  bleak/backends/corebluetooth/characteristic.py
  bleak/backends/corebluetooth/client.py
  bleak/backends/corebluetooth/descriptor.py
  bleak/backends/corebluetooth/discovery.py
  bleak/backends/corebluetooth/scanner.py
  bleak/backends/descriptor.py
  bleak/backends/device.py
  bleak/backends/dotnet/BleakUWPBridge.dll
  bleak/backends/dotnet/client.py
  bleak/backends/dotnet/discovery.py
  bleak/backends/dotnet/scanner.py
  bleak/backends/dotnet/utils.py
  bleak/backends/scanner.py
  bleak/exc.py
  bleak/utils.py
  bleak/uuids.py
  docs/backends/macos.rst
  docs/scanning.rst
  docs/usage.rst
  examples/disconnect_callback.py
  examples/enable_notifications.py
  examples/get_services.py
  examples/scanner.py
  examples/sensortag.py
  examples/service_explorer.py
  examples/two_devices.py
Labels: .NET, BlueZ, Core Bluetooth, Documentation, asyncio, bug, enhancement, scanning, security

#293 Fix getting handle in BlueZ backend
  bleak/backends/bluezdbus/characteristic.py
  bleak/backends/bluezdbus/client.py
Labels: BlueZ, bug

#291 Disconnected callback improvements.
  CHANGELOG.rst
  bleak/backends/bluezdbus/client.py
  bleak/backends/client.py
  bleak/backends/corebluetooth/client.py
  bleak/backends/dotnet/client.py
  examples/disconnect_callback.py
Labels: .NET, BlueZ, Core Bluetooth, enhancement

#302 Made context managers for .NET ``DataReader`` and ``DataWriter``
  CHANGELOG.rst
  bleak/backends/dotnet/client.py
  bleak/backends/dotnet/discovery.py
  bleak/backends/dotnet/scanner.py
  bleak/backends/dotnet/utils.py
Labels: .NET

#303 Release/v0.8.0 2
  .github/workflows/build_and_test.yml
  CHANGELOG.rst
  CONTRIBUTING.rst
  README.rst
  azure-pipelines.yml
  bleak/backends/bluezdbus/characteristic.py
  bleak/backends/bluezdbus/client.py
  bleak/backends/bluezdbus/scanner.py
  bleak/backends/bluezdbus/utils.py
  bleak/backends/characteristic.py
  bleak/backends/client.py
  bleak/backends/corebluetooth/CentralManagerDelegate.py
  bleak/backends/corebluetooth/PeripheralDelegate.py
  bleak/backends/corebluetooth/client.py
  bleak/backends/corebluetooth/device.py
  bleak/backends/corebluetooth/scanner.py
  bleak/backends/device.py
  bleak/backends/dotnet/client.py
  bleak/backends/dotnet/discovery.py
  bleak/backends/dotnet/scanner.py
  bleak/backends/dotnet/utils.py
  bleak/backends/scanner.py
  bleak/backends/service.py
  bleak/uuids.py
  docs/api.rst
  docs/conf.py
  docs/index.rst
  docs/scanning.rst
  examples/connect_by_bledevice.py
  examples/disconnect_callback.py
  examples/sensortag.py
  requirements_dev.txt
  setup.py
Labels: .NET, BlueZ, Core Bluetooth, Documentation, bug, enhancement, scanning, security

#307 `_uuid` is not defined. Updating to point to `uuid` property.
  bleak/backends/bluezdbus/characteristic.py
Labels: BlueZ, bug

#311 Prevent overwriting address in dbus client
  bleak/backends/bluezdbus/client.py
Labels: BlueZ, bug
