Repository hbldh/bleak, pull requests merged in 2020-06, with the labels that each got.

#227 CoreBluetooth fixes
  Pipfile
  bleak/backends/corebluetooth/CentralManagerDelegate.py
  bleak/backends/corebluetooth/PeripheralDelegate.py
  bleak/backends/corebluetooth/__init__.py
  bleak/backends/corebluetooth/client.py
  bleak/backends/corebluetooth/discovery.py
  bleak/backends/corebluetooth/scanner.py
  requirements.txt
  setup.py
Labels: Core Bluetooth, enhancement

#231 Feature/handles
  CHANGELOG.rst
  bleak/__version__.py
  bleak/backends/bluezdbus/characteristic.py
  bleak/backends/bluezdbus/client.py
  bleak/backends/bluezdbus/descriptor.py
  bleak/backends/characteristic.py
  bleak/backends/client.py
  bleak/backends/corebluetooth/characteristic.py
  bleak/backends/corebluetooth/client.py
  bleak/backends/corebluetooth/descriptor.py
  bleak/backends/corebluetooth/utils.py
  bleak/backends/descriptor.py
  bleak/backends/dotnet/characteristic.py
  bleak/backends/dotnet/client.py
  bleak/backends/dotnet/descriptor.py
  bleak/backends/service.py
  examples/enable_notifications.py
  examples/get_services.py
  examples/sensortag.py
  examples/service_explorer.py
Labels: .NET, BlueZ, Core Bluetooth, bug, enhancement

#232 Release/v0.7.0
  .github/workflows/build_and_test.yml
  .pyup.yml
  AUTHORS.rst
  CHANGELOG.rst
  CONTRIBUTING.rst
  LICENSE
  Pipfile
  README.rst
  bleak/__version__.py
  bleak/backends/bluezdbus/characteristic.py
  bleak/backends/bluezdbus/client.py
  bleak/backends/bluezdbus/descriptor.py
  bleak/backends/bluezdbus/discovery.py
  bleak/backends/bluezdbus/scanner.py
  bleak/backends/characteristic.py
  bleak/backends/client.py
  bleak/backends/corebluetooth/CentralManagerDelegate.py
  bleak/backends/corebluetooth/PeripheralDelegate.py
  bleak/backends/corebluetooth/__init__.py
  bleak/backends/corebluetooth/characteristic.py
  bleak/backends/corebluetooth/client.py
  bleak/backends/corebluetooth/descriptor.py
  bleak/backends/corebluetooth/discovery.py
  bleak/backends/corebluetooth/scanner.py
  bleak/backends/corebluetooth/utils.py
  bleak/backends/descriptor.py
  bleak/backends/dotnet/characteristic.py
  bleak/backends/dotnet/client.py
  bleak/backends/dotnet/descriptor.py
  bleak/backends/dotnet/discovery.py
  bleak/backends/scanner.py
  bleak/backends/service.py
  docs/api.rst
  docs/backends/linux.rst
  docs/backends/windows.rst
  docs/history.rst
  docs/index.rst
  docs/scanning.rst
  docs/usage.rst
  examples/enable_notifications.py
  examples/get_services.py
  examples/sensortag.py
  examples/service_explorer.py
  examples/two_devices.py
  requirements.txt
  requirements_dev.txt
  setup.cfg
  setup.py
Labels: .NET, BlueZ, Core Bluetooth, Documentation, asyncio, bug, dependencies, enhancement, scanning
