Repository hbldh/bleak, pull requests merged in 2020-10, with the labels that each got.

#327 UUID fixes and cleanups
  CHANGELOG.rst
  bleak/backends/bluezdbus/characteristic.py
  bleak/backends/bluezdbus/descriptor.py
  bleak/backends/bluezdbus/service.py
  bleak/backends/characteristic.py
  bleak/backends/corebluetooth/characteristic.py
  bleak/backends/corebluetooth/client.py
  bleak/backends/corebluetooth/descriptor.py
  bleak/backends/corebluetooth/service.py
  bleak/backends/corebluetooth/utils.py
  bleak/backends/descriptor.py
  bleak/backends/dotnet/characteristic.py
  bleak/backends/dotnet/service.py
  bleak/backends/service.py
Labels: Backend: .NET, Backend: BlueZ, Backend: Core Bluetooth, enhancement

#323 Fix corebluetooth client issue #319
  bleak/backends/corebluetooth/CentralManagerDelegate.py
  bleak/backends/corebluetooth/client.py
  bleak/backends/corebluetooth/scanner.py
Labels: Backend: Core Bluetooth, bug

#328 Windows connection fixes
  CHANGELOG.rst
  bleak/backends/dotnet/client.py
  bleak/backends/dotnet/discovery.py
  bleak/backends/dotnet/scanner.py
Labels: Backend: .NET, bug, enhancement, scanning

#333 Avoiding 'None' case when disconnecting
  bleak/backends/corebluetooth/CentralManagerDelegate.py
  bleak/backends/corebluetooth/client.py
Labels: Backend: Core Bluetooth, bug

#330 doc: add troubleshooting page
  .gitattributes
  CHANGELOG.rst
  docs/images/win-10-start-cmd-as-admin.png
  docs/index.rst
  docs/troubleshooting.rst
Labels: Documentation

#340 Release/0.9.0
  .gitattributes
  .github/workflows/build_and_test.yml
  .github/workflows/format_and_lint.yml
  CHANGELOG.rst
  bleak/__version__.py
  bleak/backends/bluezdbus/characteristic.py
  bleak/backends/bluezdbus/client.py
  bleak/backends/bluezdbus/descriptor.py
  bleak/backends/bluezdbus/service.py
  bleak/backends/characteristic.py
  bleak/backends/corebluetooth/CentralManagerDelegate.py
  bleak/backends/corebluetooth/PeripheralDelegate.py
  bleak/backends/corebluetooth/characteristic.py
  bleak/backends/corebluetooth/client.py
  bleak/backends/corebluetooth/descriptor.py
  bleak/backends/corebluetooth/scanner.py
  bleak/backends/corebluetooth/service.py
  bleak/backends/corebluetooth/utils.py
  bleak/backends/descriptor.py
  bleak/backends/dotnet/characteristic.py
  bleak/backends/dotnet/client.py
  bleak/backends/dotnet/discovery.py
  bleak/backends/dotnet/scanner.py
  bleak/backends/dotnet/service.py
  bleak/backends/service.py
  bleak/uuids.py
  docs/api.rst
  docs/conf.py
  docs/images/win-10-start-cmd-as-admin.png
  docs/index.rst
  docs/troubleshooting.rst
  requirements_dev.txt
Labels: Backend: .NET, Backend: BlueZ, Backend: Core Bluetooth, Documentation, bug, enhancement, scanning

#348 Release/v0.9.1
  .github/ISSUE_TEMPLATE.md
  .github/pull_request_template.md
  AUTHORS.rst
  CHANGELOG.rst
  CONTRIBUTING.rst
  bleak/__version__.py
  bleak/backends/bluezdbus/client.py
  bleak/backends/corebluetooth/CentralManagerDelegate.py
  bleak/backends/corebluetooth/client.py
  bleak/backends/corebluetooth/device.py
  bleak/backends/corebluetooth/discovery.py
  bleak/backends/corebluetooth/scanner.py
Labels: Backend: BlueZ, Backend: Core Bluetooth, bug, enhancement

#324 Cleanups
  CHANGELOG.rst
  bleak/__init__.py
  bleak/backends/bluezdbus/client.py
  bleak/backends/bluezdbus/discovery.py
  bleak/backends/bluezdbus/scanner.py
  bleak/backends/bluezdbus/service.py
  bleak/backends/client.py
  bleak/backends/corebluetooth/CentralManagerDelegate.py
  bleak/backends/corebluetooth/PeripheralDelegate.py
  bleak/backends/corebluetooth/client.py
  bleak/backends/corebluetooth/device.py
  bleak/backends/corebluetooth/scanner.py
  bleak/backends/corebluetooth/service.py
  bleak/backends/dotnet/client.py
  bleak/backends/dotnet/discovery.py
  bleak/backends/dotnet/scanner.py
  bleak/backends/dotnet/service.py
  bleak/backends/dotnet/utils.py
  examples/sensortag.py
  examples/two_devices.py
  setup.cfg
Labels: Backend: .NET, Backend: BlueZ, Backend: Core Bluetooth, Documentation, enhancement
