Repository hbldh/bleak, pull requests merged in 2021-03, with the labels that each got.

#449 Changed Service identification to handles instead of UUID
  CHANGELOG.rst
  bleak/backends/bluezdbus/characteristic.py
  bleak/backends/bluezdbus/client.py
  bleak/backends/bluezdbus/service.py
  bleak/backends/bluezdbus/utils.py
  bleak/backends/characteristic.py
  bleak/backends/corebluetooth/characteristic.py
  bleak/backends/corebluetooth/descriptor.py
  bleak/backends/corebluetooth/service.py
  bleak/backends/descriptor.py
  bleak/backends/dotnet/characteristic.py
  bleak/backends/dotnet/descriptor.py
  bleak/backends/dotnet/service.py
  bleak/backends/service.py
  examples/service_explorer.py
Labels: Backend: BlueZ, Backend: Core Bluetooth, Backend: pythonnet, bug, enhancement

#458 Fix for the 'Unknown' name in scan results on Windows 10.
  CHANGELOG.rst
  bleak/backends/device.py
Labels: Backend: pythonnet, enhancement

#434 Having async methods as notification handlers
  CHANGELOG.rst
  bleak/backends/bluezdbus/client.py
  bleak/backends/corebluetooth/client.py
  bleak/backends/dotnet/client.py
  examples/async_callback_with_queue.py
  examples/sensortag.py
Labels: Backend: BlueZ, Backend: Core Bluetooth, Backend: pythonnet, Opinions Appreciated, asyncio, help wanted

#479 BlueZ: Fixed stop_notify() error logged on device disconnect.
  bleak/backends/bluezdbus/client.py
Labels: Backend: BlueZ, bug

#480 Added UART service example.
  CHANGELOG.rst
  examples/uart_service.py
Labels: examples

#486 Release/0.11.0
  AUTHORS.rst
  CHANGELOG.rst
  Pipfile
  bleak/__version__.py
  bleak/backends/bluezdbus/__init__.py
  bleak/backends/bluezdbus/characteristic.py
  bleak/backends/bluezdbus/client.py
  bleak/backends/bluezdbus/scanner.py
  bleak/backends/bluezdbus/service.py
  bleak/backends/bluezdbus/signals.py
  bleak/backends/bluezdbus/utils.py
  bleak/backends/characteristic.py
  bleak/backends/client.py
  bleak/backends/corebluetooth/CentralManagerDelegate.py
  bleak/backends/corebluetooth/characteristic.py
  bleak/backends/corebluetooth/client.py
  bleak/backends/corebluetooth/descriptor.py
  bleak/backends/corebluetooth/device.py
  bleak/backends/corebluetooth/scanner.py
  bleak/backends/corebluetooth/service.py
  bleak/backends/descriptor.py
  bleak/backends/device.py
  bleak/backends/dotnet/characteristic.py
  bleak/backends/dotnet/client.py
  bleak/backends/dotnet/descriptor.py
  bleak/backends/dotnet/scanner.py
  bleak/backends/dotnet/service.py
  bleak/backends/scanner.py
  bleak/backends/service.py
  bleak/exc.py
  docs/conf.py
  docs/troubleshooting.rst
  examples/async_callback_with_queue.py
  examples/connect_by_bledevice.py
  examples/disconnect_callback.py
  examples/enable_notifications.py
  examples/get_services.py
  examples/philips_hue.py
  examples/sensortag.py
  examples/service_explorer.py
  examples/two_devices.py
  examples/uart_service.py
  requirements.txt
  setup.py
Labels: Backend: BlueZ, Backend: Core Bluetooth, Backend: pythonnet, Documentation, bug, enhancement, examples, security

#496 Fix linux_autodoc_mock_import in docs/conf.py
  CHANGELOG.rst
  docs/conf.py
Labels: Backend: BlueZ, bug

#495 Replace get_discovered_devices with discovered_devices
  CHANGELOG.rst
  bleak/backends/bluezdbus/scanner.py
  bleak/backends/corebluetooth/scanner.py
  bleak/backends/dotnet/scanner.py
  bleak/backends/scanner.py
  docs/scanning.rst
Labels: Backend: BlueZ, Backend: Core Bluetooth, Backend: WinRT, Backend: pythonnet, enhancement, scanning
