Repository hbldh/bleak, pull requests merged in 2022-01, with the labels that each got.

#748 winrt: fix name is 'Unknown'
  CHANGELOG.rst
  bleak/backends/winrt/scanner.py
Labels: Backend: WinRT

#751 bluezdbus: Return the battery percentage in an array
  CHANGELOG.rst
  bleak/backends/bluezdbus/client.py
Labels: Backend: BlueZ

#728 Skip logging CoreBlueooth scanner error if running as .app
  bleak/backends/corebluetooth/scanner.py
  setup.cfg
Labels: Backend: Core Bluetooth
