Repository hbldh/bleak, pull requests merged in 2022-09, with the labels that each got.

#973 Fix `get_services()` fails because no GattSession
  CHANGELOG.rst
  bleak/backends/winrt/client.py
Labels: Backend: WinRT

#974 backends/winrt/client: extend disconnect timeout
  CHANGELOG.rst
  bleak/backends/winrt/client.py
Labels: Backend: WinRT

#975 exc: fix BlueZ ATT error messages
  CHANGELOG.rst
  bleak/exc.py
Labels: Backend: BlueZ

#976 BlueZ battery fixes
  CHANGELOG.rst
  bleak/backends/bluezdbus/client.py
  bleak/backends/bluezdbus/version.py
  tests/bleak/backends/bluezdbus/test_version.py
Labels: Backend: BlueZ

#977 drop BLEDeviceCoreBluetooth
  CHANGELOG.rst
  bleak/backends/corebluetooth/CentralManagerDelegate.py
  bleak/backends/corebluetooth/device.py
  bleak/backends/corebluetooth/scanner.py
Labels: Backend: Core Bluetooth

#979 docs: update sphinx to latest version
  .readthedocs.yml
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Labels: Documentation

#524 Dynamically select default BlueZ adapter if not provided
  CHANGELOG.rst
  bleak/__init__.py
  bleak/backends/bluezdbus/client.py
  bleak/backends/bluezdbus/manager.py
  bleak/backends/bluezdbus/scanner.py
Labels: Backend: BlueZ
